org_id            = ""

billing_account   = ""

project_id_sta    = ""
project_id_prd    = ""

# Could not be set in advance but after an initial run - we do have some hen / egg issues
# TODO: propably avoidable by creating an own service account
adminsdk_username = ""

key_name          = ""